# vim: syntax=bash
#

# Oh My Zsh settings
DISABLE_AUTO_UPDATE="true"
export ZSH=$HOME/.oh-my-zsh

# Make sure autojumo is loaded
[ -f /opt/homebrew/etc/profile.d/autojump.sh ] && . /opt/homebrew/etc/profile.d/autojump.sh

# ZSH_THEME="powerlevel10k/powerlevel10k"
plugins=(history fzf sudo zsh-syntax-highlighting zsh-autosuggestions autojump)

## Plugin configuration
if command -v git &>/dev/null; then
  plugins+=("git");
fi

if [[ (-x /usr/bin/grc || -x /usr/local/bin/grc || -x /opt/homebrew/bin/grc) && (-f /etc/grc.zsh || /opt/homebrew/etc/grc.zsh) ]]; then
  plugins+=("grc");
fi

if command -v eza &>/dev/null; then
  plugins+=("eza");
  zstyle ':omz:plugins:eza' 'dirs-first' yes
  zstyle ':omz:plugins:eza' 'git-status' yes
  zstyle ':omz:plugins:eza' 'header' no
  zstyle ':omz:plugins:eza' 'color-scale' all
  zstyle ':omz:plugins:eza' 'size-prefix' binary
  zstyle ':omz:plugins:eza' 'time-style' long-iso
fi

if command -v kubectl &>/dev/null; then
  plugins+=("kubectl");
fi

if command -v kubecm &>/dev/null; then
  alias kc="kubecm"
  alias ks="kubecm switch"
  alias kn="kubecm namespace"
fi

if command -v gpg-agent &>/dev/null; then
  plugins+=("gpg-agent");
fi

if [[ -d ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k ]]; then
  export ZSH_THEME="powerlevel10k/powerlevel10k"
  # resource oh-my-zsh to activate the theme

  # Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
  # Initialization code that may require console input (password prompts, [y/n]
  # confirmations, etc.) must go above this block; everything else may go below.
  if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
  fi
  
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
  [[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
fi

if [[ -e ${HOME}/.zshrc_dev ]]; then
  source ${HOME}/.zshrc_dev
fi

if [[ -e ${HOME}/.zshrc_user ]]; then
  source ${HOME}/.zshrc_user
fi

source $ZSH/oh-my-zsh.sh <$TTY

# Define baseline aliases

alias czu="chezmoi"
alias czb='chezmoi --source "${USER_HOME:-$HOME}/.local/share/chezmoi_base" --config ${USER_HOME:-$HOME}/.config/chezmoi/_base/chezmoi.yaml "${@}"'
alias czd='chezmoi --source "${USER_HOME:-$HOME}/.local/share/chezmoi_dev" --config ${USER_HOME:-$HOME}/.config/chezmoi/_dev/chezmoi.yaml "${@}"'

